<div class="inner-content">
    <aside class="inner-left-panel" id="inner-left-panel">
        <div class="sidenav">
            <div class="sidebar-image pl-4 pb-4 pt-2">
                <img src="../assets/img/logo.png" height="50px">
            </div>
            <a routerLink="/dashboard"><i class="fa fa-home mx-3" aria-hidden="true"></i>Dashboard</a>
            <a href="#"><i class="fa fa-users mx-3" aria-hidden="true"></i>Recruitment</a>
            <a href="#"><i class="fa fa-th-list mx-3" aria-hidden="true"></i>Onboarding</a>
            <a href="#"><i class="fa fa-tasks mx-3" aria-hidden="true"></i>Recruitment Tasks</a>
            <a href="#"><i class="fa fa-calendar mx-3" aria-hidden="true"></i>Calendar</a>
            <a routerLink="/form"><i class="fa fa-list-ol mx-3" aria-hidden="true"></i>Multistep Form</a>
            <a href="#"><i class="fa fa-plus mx-3" aria-hidden="true"></i>Add vacancy</a>
            <a routerLink="/applicants-list"><i class="fa fa-tasks mx-3" aria-hidden="true"></i>Applicants list</a>
            <a routerLink="/login"><i class="fa fa-sign-in mx-3" aria-hidden="true"></i>Login</a>
            <a href=""><small>Account</small></a>
            <hr>
            <div class="row">
                <div class="dropdown profile-dropdown">
                    <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="user-area dropdown"><img class=" user-avatar mr-2" src="./assets/img/kritika.jpg"
                alt="User Avatar"></span>Kritika Poudel
                        <span class="typcn typcn-arrow-unsorted toggle-icon"></span>
                        <span class="typcn typcn-user-outline user-icon"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">My Profile</a>
                        <a class="dropdown-item" href="#">Applied Jobs</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </aside>
    <div class="inner-right-panel" id="inner-right-panel">
        <section id="applicants-listing" class="applicants-listing pt-5 px-4">
            <div class="container">

                <div class="section-title mb-5" data-aos="fade-up">
                    <h2>Wordpress Developer</h2>
                    <p class="text-muted">We are looking for a Wordpress Developer who focuses on coding and debugging and build high-quality reusable code.</p>
                </div>
                <h5 class="mb-3">Basic Job Information</h5>
                <div class="table-responsive table-applicants">
                    <table class="table job-information" cellspacing="0">
                        <tr>
                            <td width="30%">Job Category</td>
                            <td width="10%">:</td>
                            <td width="60%">
                                IT &amp; Telecommunication
                            </td>
                        </tr>
                        <tr>
                            <td width="30%">Job Level </td>
                            <td width="10%">:</td>
                            <td width="60%">
                                Senior Level
                            </td>
                        </tr>
                        <tr>
                            <td width="30%">No. of Vacancy/s </td>
                            <td width="10%">:</td>
                            <td width="60%">
                                [ 2 ]
                            </td>
                        </tr>
                        <tr>
                            <td width="30%">Employment Type</td>
                            <td width="10%">:</td>
                            <td width="60%">
                                Full Time
                            </td>
                        </tr>
                        <tr>
                            <td width="30%">Job Location</td>
                            <td width="10%">:</td>
                            <td width="60%">
                                Jhamsikhel, Lalitpur, Nepal
                            </td>
                        </tr>
                        <tr>
                            <td width="30%">Experience Required</td>
                            <td width="10%">:</td>
                            <td width="60%">
                                More than or equals to 2 years
                            </td>
                        </tr>
                        <tr>
                            <td width="30%">Apply Before(Deadline)</td>
                            <td width="10%">:</td>
                            <td width="60%">
                                Dec. 09, 2020
                            </td>
                        </tr>

                    </table>
                </div>

                <div class="row">
                    <div class="col-lg-12 d-flex align-items-stretch my-2 mb-lg-0">
                        <div data-aos="fade-up" data-aos-delay="100">
                            <h5>Job Roles and Responsibilities:</h5>
                            <ul>
                                <li>Develop business and marketing plans in coordination with the Head of Business Development to achieve set revenue/customer acquisition goals.</li>
                                <li>Research the market for identifying new business opportunities, develop lead generating platform.</li>
                                <li>Understand the target markets, including industry, company, project to develop proposals for matching products and services to solve prospects clients’ business problem.</li>
                                <li>Develop business proposals for new and existing customers.</li>
                                <li>Collaborate with marketing team for lead generating marketing activities.</li>
                                <li><span>Develop referrals with customers from presently engaged customers. </span></li>
                                <li>Embrace a strong understanding of our products and services, our competition in the industry and positioning.</li>
                                <li>Develop in-depth knowledge about business development practices, marketing activities, prospective clients and industry trends.</li>
                                <li>Maintain a knowledge repository of clients, referrals, RFPs, prospects, and presentations.</li>
                                <li>Develop strong customer relationships in order to generate a high volume of prospective clients.</li>
                                <li>Manage customer calls and appointments effectively for new opportunities.</li>
                                <li>Participate in industry forums, client discussions, and conferences as a representative of the organization.</li>
                                <li>Determine cross-selling opportunities among different offices.</li>
                                <li>Hire, train, and guide the marketing and business development associates.</li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 d-flex align-items-stretch mb-2 mb-lg-0">
                        <div data-aos="fade-up" data-aos-delay="100">
                            <h5>Competencies and Skills Required:</h5>
                            <ul>
                                <li>Good knowledge of PHP</li>
                                <li>Knowledge of either Vue JS and/or Angular JS</li>
                                <li>Knowledge of how the core of WP works.</li>
                                <li>A few samples that show your understanding of Hooks, Filters.</li>
                                <li>Customizing plugins like WooCommerce, WP Job Manager, EDD and similar.</li>
                                <li>Knowledge of REST API and customizing endpoints.</li>
                                <li>Knowledge of Gulp and/or Grunt</li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 d-flex align-items-stretch mb-2 mb-lg-0">
                        <div data-aos="fade-up" data-aos-delay="100">
                            <h5>Qualifications:</h5>
                            <ul>
                                <li>Bachelor’s running or degree in Business, IT, Marketing or related field.</li>
                                <li>1-2 years of working experience in related field. </li>
                                <li>Must possess good communication skills, decision-making, strategic thinking, leadership, interpersonal, and ethical conduct skills.</li>
                                <li>The ability to manage multiple priorities simultaneously – result oriented.</li>
                                <li>Team player, comfortable operating in a demanding and high-paced environment.</li>
                                <li>Experience in leading a project team is desirable.</li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="mb-3" data-aos="fade-up">
                    <h3>Applicants List</h3>
                </div>

                <div class="table-responsive table-applicants">
                    <table class="table table-borderless" cellspacing="0">
                        <tr>
                            <th>Applicant photo</th>
                            <th>Name</th>
                            <th>Applied on</th>
                            <th>Email</th>
                            <th>Education</th>
                            <th>CV</th>
                        </tr>

                        <tr>
                            <td><img src="./assets/img/kritika.jpg" alt="" /></td>
                            <td><a routerLink="/applicants-detail" class="applicants-name"> Kritika Poudel</a></td>
                            <td>Sept 20, 2020</td>
                            <td><a href="mailto:Kritikapaudel9@gmail.com">Kritikapaudel9@gmail.com</a></td>
                            <td>BSC.CSIT</td>
                            <td>
                                <a href="./assets/img/kritika_cv.pdf" download="kritika_cv"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a> </td>
                        </tr>

                        <tr>
                            <td><img src="./assets/img/kritika.jpg" alt="" /></td>
                            <td><a href="" class="applicants-name">Susmita Poudel</a></td>
                            <td>Sept 20, 2020</td>
                            <td><a href="mailto:Susmita.poudel@gmail.com">Susmita.poudel@gmail.com</a></td>
                            <td>BIM</td>
                            <td><a href="./assets/img/kritika_cv.pdf" download="kritika_cv"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>
                        </tr>

                        <tr>
                            <td><img src="./assets/img/kritika.jpg" alt="" /></td>
                            <td><a href="" class="applicants-name">Bibek KC</a></td>
                            <td>Sept 20, 2020</td>
                            <td><a href="mailto:bibek.gunner@gmail.com">bibek.gunner@gmail.com</a></td>
                            <td> Computer Engineering</td>
                            <td><a href="./assets/img/kritika_cv.pdf" download="kritika_cv"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>
                        </tr>
                    </table>

                    <!-- <pagination class="justify-content-center ng-untouched">
                        <ul class="pagination justify-content-center">
                            <li class="pagination-first page-item disabled"><a class="page-link" href="">First</a></li>
                            <li class="pagination-prev page-item disabled"><a class="page-link" href="">Previous</a></li>
                            <li class="pagination-page page-item active"><a class="page-link" href="">1</a></li>
                            <li class="pagination-page page-item"><a class="page-link" href="">2</a></li>
                            <li class="pagination-page page-item"><a class="page-link" href="">3</a></li>
                            <li class="pagination-page page-item"><a class="page-link" href="">4</a></li>
                            <li class="pagination-page page-item"><a class="page-link" href="">5</a></li>
                            <li class="pagination-next page-item"><a class="page-link" href="">Next</a></li>
                            <li class="pagination-last page-item"><a class="page-link" href="">Last</a></li>
                        </ul>
                    </pagination> -->
                </div>
            </div>
        </section>
    </div>
</div>