@import '../../styles.scss';
.inner-right-panel {
    margin-left: 265px;
    margin-top: 0px;
    min-height: 100%;
    position: relative;
    padding-bottom: 50px;
}

// table
.table-applicants {
    border-radius: 5px;
    max-width: 100%;
}

.applicants-name {
    color: $hr-font-dark;
    font-weight: 500;
}

table {
    border-collapse: separate;
    border-spacing: 0 7px;
    td,
    th {
        color: $hr-font-dark;
        padding: 15px;
    }
    td {
        text-align: left;
        vertical-align: middle !important;
        padding: 0.8rem !important;
        .fa {
            font-size: 30px;
        }
        img {
            border-radius: 50%;
            height: 50px;
            width: 50px;
        }
    }
    th {
        background-color: #E4E7F4;
        font-weight: 500;
    }
    tr {
        background-color: #ffffff;
    }
}

.table.job-information {
    border-collapse: collapse;
}

@media (max-width: 767px) {
    .inner-right-panel {
        margin-left: 0;
    }
}