<div class="applicant">
    <div class="applicant-content mb-5 mt-5">
        <div class="container">
            <!-- <div class="back-list">
            <a href="#">
                 Back to Applicants List</a>
        </div> -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="applicant-header mb-5">Applicant Profile</h2>
                </div>
            </div>
            <div class="panel panel-container">
                <div class="row align-items-center">
                    <div class="col-lg-6 mob-profile">
                        <div class="profile-panel border-right align-items-center">
                            <img class="user-profile mr-4" style="border-radius: 50%; width: 140px;" src="./assets/img/kritika.jpg" alt="User Avatar" alt="User profile">
                            <div class="profile-text">
                                <h5>Kritika Poudel</h5>
                                <p>UI/UX Designer</p>
                                <p>Genese Solution</p>
                                <a href="#"><em class="fa fa-facebook mr-2 mb-3"></em></a><a href="#"><em class="fa fa-linkedin mr-2"></em></a><a href="#"><em class="fa fa-twitter mr-2"></em></a><a href="#"><em class="fa fa-dribbble mr-2"></em></a><br>
                                <button type="button" class="btn btn-sm btn-primary mr-3 btn-1">Contact</button>
                                <button type="button" class="btn btn-sm btn-brdr btn-1" style="border: 2px solid #135a70; color: #135a70;"><em class="fa fa-download">&nbsp;</em>Resume</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="detail-panel">
                            <dl class="dl-horizontal">
                                <dt class="float-left mr-3"><em class="text-ic fa fa-suitcase">&nbsp;</em>Applied Position:</dt>
                                <dd>WordPress Developer</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt class="float-left mr-3"><em class="text-ic fa fa-clock-o">&nbsp;</em>Applied on:</dt>
                                <dd>Sept 20, 2020</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt class="float-left mr-3"><em class="text-ic fa fa-user">&nbsp;</em>Experience Level:</dt>
                                <dd>Junior / Entry-level (0-2 years experience)</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Information tabs -->
    <div class="info-tabs">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic-information" role="tab" aria-controls="basic-information" aria-selected="true">Basic Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="job-tab" data-toggle="tab" href="#job-details" role="tab" aria-controls="job-details" aria-selected="false">Job Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="education-tab" data-toggle="tab" href="#education" role="tab" aria-controls="education" aria-selected="false">Education</a>
                </li>
            </ul>
            <div class="tab-content tabs-des" id="myTabContent">
                <div class="tab-pane fade show active" id="basic-information" role="tabpanel" aria-labelledby="basic-tab">
                    <dl class="dl-horizontal">
                        <dt class="float-left mr-3 mb-3">Date of Birth :</dt>
                        <dd class="m-right mb-3">April 02, 1998</dd>

                        <dt class="float-left mr-3 mb-3">Gender :</dt>
                        <dd class="m-right mb-3">Female</dd>

                        <dt class="float-left mr-3 mb-3">Contact Number :</dt>
                        <dd class="m-right mb-3">984577752</dd>

                        <dt class="float-left mr-3 mb-3">Email Id :</dt>
                        <dd class="m-right mb-3">Kritikapaudel9@gmail.com</dd>

                        <dt class="float-left mr-3 mb-3">Permanent Location :</dt>
                        <dd class="m-right mb-3">Hetauda-4, Makwanpur</dd>

                        <dt class="float-left mr-3 mb-3">Communication Location :</dt>
                        <dd class="m-right mb-3">Kalopul, Kathmandu</dd>

                        <dt class="float-left mr-3 mb-3">Short Bio :</dt>
                        <dd class="m-right mb-3">Kritika Poudel is a Jr. UI/UX Designer at Genese Solution. She is currently studying BSc. CSIT at Amrit Science Campus. Being a student from an IT background, she always tries to learn new languages & skills. She is also a graphic
                            designer ambassador at GirlsinTech-Nepal. Her main areas of interest are Web designing & development, Graphic designing & Community Involvement.</dd>
                    </dl>
                </div>

                <div class="tab-pane fade" id="job-details" role="tabpanel" aria-labelledby="job-tab">
                    <dl class="dl-horizontal">
                        <dt class="float-left mr-3 mb-3">Education Level :</dt>
                        <dd class="m-right mb-3">Bsc. CSIT</dd>

                        <dt class="float-left mr-3 mb-3">Available Start Date :</dt>
                        <dd class="m-right mb-3">December 01, 2020</dd>

                        <dt class="float-left mr-3 mb-3">Skills :</dt>
                        <dd class="m-right btn-brdr mb-3 sub"><span class="ui-brd mr-3 sub">UI/UX Design </span><span class="ui-brd mr-3 sub">Web Design </span><span class="ui-brd mr-3 sub">Graphic Design </span><span class="ui-brd sub">Wordpress</span></dd>

                        <dt class="float-left mr-3 mb-3">Desired Commitment :</dt>
                        <dd class="m-right mb-3">Full Time</dd>

                        <dt class="float-left mr-3 mb-3">Cover Letter :</dt>
                        <dd class="m-right mb-3">I'm writing to express my interest in the WordPress Developer position listed on xyz.com. I have experience building large, consumer-focused health-based content sites. While much of my experience has been in the business world,
                            I understand the social value of this sector and I am confident that my business experience will be an asset to your organization.<br>My responsibilities have included the development and management of website editorial voice
                            and style; editorial calendars; and the daily content programming and production for various websites. I am confident working with development departments to implement design and functional enhancements, and to monitor site
                            statistics, and conduct search engine optimization.</dd>
                    </dl>
                </div>
                <div class="tab-pane fade" id="education" role="tabpanel" aria-labelledby="education-tab">
                    <dl class="dl-horizontal">
                        <dt class="float-left mr-3 mb-3">Highest Degree:</dt>
                        <dd class="m-right mb-3">Bachelor's degree - BA,BS)</dd>

                        <dt class="float-left mr-3 mb-3">University:</dt>
                        <dd class="m-right mb-3">KU</dd>

                        <dt class="float-left mr-3 mb-3">Field or major:</dt>
                        <dd class="m-right btn-brdr mb-3 sub">Computer Science</dd>

                        <dt class="float-left mr-3 mb-3">Are you currently a student:</dt>
                        <dd class="m-right mb-3">Yes</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>