  <div class="inner-content">
    <aside class="inner-left-panel" id="inner-left-panel">
      <div class="sidenav pl-3">
        <div class="sidebar-image pl-4 pb-4 pt-2">
          <img src="../assets/img/logo.png" height="50px">
        </div>
        <a href="#dashboard"><i class="fas fa-chalkboard mr-3"></i>Dashboard</a>
        <a href="#aws"><i class="fab fa-aws mr-3"></i>Recruitment</a>
        <a href="#google-cloud"><i class="fas fa-cloud mr-3"></i>Onboarding</a>
        <a href="#g-suite"><i class="fas fa-envelope mr-3"></i>Recruitment Tasks</a>
        <a href="#zoom"><i class="fas fa-video mr-3"></i>Calendar</a>
        <hr>
        <a href=""><small>Account</small></a>
        <a href="#account-settings"><i class="fas fa-cog mr-3"></i>Settings <span
            class="alert alert-info rounded-circle ml-3" role="alert">
            3</span></a>
      </div>
      <hr />
      <div class="sidebar-nav">
        <div class="sidebar-nav-title">
          Account
        </div>
        <ul>
          <li>
            <a href="#home"><span class="typcn typcn-th-list"></span>
              Dashboard</a>
          </li>
          <li>
            <a a href="#home"><span class="typcn typcn-chart-pie-outline"></span> Organization List</a>
          </li>
        </ul>
      </div>
      <div class="dropdown user-dropdown">
        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
          <small class="d-block">small</small>
          <span class="typcn typcn-arrow-unsorted toggle-icon">span1</span>
          <span class="typcn typcn-user-outline user-icon">span2</span>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <div class="account-info">
            <p><strong>test</strong></p>
            <p></p>
            <p></p>
          </div>
        </div>
      </div>
    </aside>
    <div class="inner-right-panel" id="inner-right-panel">
      <div class="header mb-5 mt-3">
        <h2>Hello Susmita!</h2>
        <p class="text-muted">Welcome back! You have 3 notifications.</p>
      </div>
      <h5>Open Positions</h5>
      <form class="form">
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <select class="form-control mb-2">
                <option>WordPress Developer</option>
                <option>Junior level</option>
                <option>Mid Level level</option>
                <option>Senior Level</option>
              </select>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <select class="form-control mb-2">
                <option>Laravel Developer</option>
                <option>Junior level</option>
                <option>Mid Level level</option>
                <option>Senior Level</option>
              </select>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <select class="form-control mb-2">
                <option>Business Development Officer</option>
                <option>Junior level</option>
                <option>Mid Level level</option>
                <option>Senior Level</option>
              </select>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <select class="form-control mb-2">
                <option>Dot net Developer</option>
                <option>Junior level</option>
                <option>Mid Level level</option>
                <option>Senior Level</option>
              </select>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <select class="form-control mb-2">
                <option>Frontend Developer</option>
                <option>Junior level</option>
                <option>Mid Level level</option>
                <option>Senior Level</option>
              </select>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <select class="form-control mb-2">
                <option>Backend Developer</option>
                <option>Junior level</option>
                <option>Mid Level level</option>
                <option>Senior Level</option>
              </select>
            </div>
            </div>
          </div>
          </form>
      <h5>Recruitment Progess</h5>
      <form class="form">
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label class="text-muted">Employee name</label>
              <select class="form-control mb-2">
                <option>Begins with</option>
                <option>Contains</option>
                <option>Exact</option>
              </select>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label>Profession</label>
              <select class="form-control mb-2">
                <option>Begins with</option>
                <option>Contains</option>
                <option>Exact</option>
              </select>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label>&nbsp;</label>
              <button class="btn btn-primary btn btn-block" type="submit">Filter</button>
            </div>
          </div>
          </div>
          </form>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>SN</th>
              <th>Full name</th>
              <th>Email Address</th>
              <th>Applied on</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Susmita Poudel</td>
              <td>susmita@genesesolution.com</td>
              <td>March 12, 2020</td>
              <td><span class="badge badge-info">Tech Interview</span></td>
            </tr>
            <tr>
              <td>2</td>
              <td>Kritika Poudel</td>
              <td>kritika@genesesolution.com</td>
              <td>March 20, 2020</td>
              <td><span class="badge badge-primary">Resume Review</span></td>
            </tr>
            <tr>
              <td>3</td>
              <td>Kabita Gautam</td>
              <td>kabita@genesesolution.com</td>
              <td>September 13,2020</td>
              <td><span class="badge badge-success">Final Interview</span></td>
            </tr>
            <tr>
              <td>4</td>
              <td>Bibek Kc</td>
              <td>bibek@genesesolution.com</td>
              <td>December 25, 2020</td>
              <td><span class="badge badge-info">Tech Interview</span></td>
            </tr> 
          </tbody>
         </table>
         <!-- <pagination class="justify-content-center" [(ngModel)]="currentPage" [boundaryLinks]="true" [directionLinks]="true"
        [totalItems]="totalOrgList" [itemsPerPage]="pageSize" [maxSize]="5" (pageChanged)="pageChanged($event)">
      </pagination> -->
      </div>
    </div>
  </div>
