.dash-cont {
    width: 1475px;
}

.inner-content {
    margin-left: 260px;
}

table.table {
    border-collapse: separate;
    border-spacing: 0 7px;
    margin-top: 15px;
    td {
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        background: #fff;
        padding: 1rem;
        vertical-align: middle;
        box-shadow: 10px 3px 10px #0000000f;
        &:last-child {
            border-right: 1px solid #dee2e6;
            border-radius: 0 4px 4px 0;
        }
        &:first-child {
            border-left: 1px solid #dee2e6;
            border-radius: 4px 0 0 4px;
            font-weight: 500;
        }
    }
    th {
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        background: #e4e7f4;
        padding: 1rem;
        vertical-align: middle;
        font-weight: 500;
        box-shadow: 10px 3px 10px #0000000f;
        &:last-child {
            border-right: 1px solid #dee2e6;
            border-radius: 0 4px 4px 0;
        }
        &:first-child {
            border-left: 1px solid #dee2e6;
            border-radius: 4px 0 0 4px;
        }
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 60px;
    }
    .sidenav a {
        font-size: 18px;
    }
    // aside.inner-left-panel.logo {
    // padding: 0 50px;
    // margin-bottom: 30px;
    // }
}

@media (max-width: 767px) {
    .inner-content {
        margin-left: 0;
    }
}