
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <title>HR Job Portal</title>
</head>
<body>
  <aside id="left-panel" class="left-panel">
    <div class="sidenav pl-3">
      <div class="sidebar-image pl-2 pb-4 pt-2">
        <img src="../assets/img/logo.png" height="50px">
      </div>
      <a href="#dashboard"><i class="fas fa-chalkboard mr-3"></i>Dashboard</a>
      <a href="#aws"><i class="fab fa-aws mr-3"></i>Recruitment</a>
      <a href="#google-cloud"><i class="fas fa-cloud mr-3"></i>Onboarding</a>
      <a href="#g-suite"><i class="fas fa-envelope mr-3"></i>Recruitment Tasks</a>
      <a href="#zoom"><i class="fas fa-video mr-3"></i>Calendar</a>
      <hr>
      <a href=""><small>Account</small></a>
      <a href="#account-settings"><i class="fas fa-cog mr-3"></i>Settings <span
          class="alert alert-info rounded-circle ml-3" role="alert">
          3</span></a>
    </div>
    <hr />
    <div class="sidebar-nav">
      <div class="sidebar-nav-title">
        Account
      </div>
      <ul>
        <li>
          <a href="#home"><span class="typcn typcn-th-list"></span>
            Dashboard</a>
        </li>
        <li>
          <a a href="#home"><span class="typcn typcn-chart-pie-outline"></span> Organization List</a>
        </li>
      </ul>
    </div>
    <div class="dropdown user-dropdown">
      <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
        <small class="d-block">small</small>
        <span class="typcn typcn-arrow-unsorted toggle-icon">span1</span>
        <span class="typcn typcn-user-outline user-icon">span2</span>
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <div class="account-info">
          <p><strong>test</strong></p>
          <p></p>
          <p></p>
        </div>
      </div>
    </div>
  </aside>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>SN</th>
          <th>Organization name</th>
          <th>Admin</th>
          <th>Tag</th>
          <th>Date Created</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>test1</td>
          <td>
            <a href="">test0</a>
          </td>
          <td>
          <small
              class="d-block text-muted"></small></td>
          <td><span class="badge badge-success">High</span>
          </td>
          <td><span
              class="badge badge-primary">Medium</span></td>
          <td><span class="badge badge-danger">Low</span></td>
          <td><span
              class="badge badge-dark">Backlisted</span></td>
          <td><span class="badge badge-secondary"></span></td>
          <td>
            <span>test</span>
          </td>
         

          <td>
            <br />
          </td>
        </tr>
        <!-- <tr *ngIf="returnOrgList.length === 0">
              <td colspan="6">No data available</td>
            </tr> -->
      </tbody>
    </table>
    <!-- <pagination class="justify-content-center" [(ngModel)]="currentPage" [boundaryLinks]="true" [directionLinks]="true"
      [totalItems]="totalOrgList" [itemsPerPage]="pageSize" [maxSize]="5" (pageChanged)="pageChanged($event)">
    </pagination> -->
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
  </script>
</body>

</html>
