<div class="inner-content">

    <div class="inner-right-panel" id="inner-right-panel">
        <div class="header mb-5 mt-5">
            <h2>Hello Susmita!</h2>
            <p class="text-muted">Welcome back! You have 3 notifications.</p>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Job Title</th>
                        <th>Email Address</th>
                        <!-- <th>Applied on</th> -->
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>WordPress Developer</td>
                        <td>susmita@genesesolution.com</td>
                        <!-- <td>March 12, 2020</td> -->
                        <td><span class="badge badge-info">Tech Interview</span></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Dot net Developer</td>
                        <td>kritika@genesesolution.com</td>
                        <!-- <td>March 20, 2020</td> -->
                        <td><span class="badge badge-primary">Resume Review</span></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Laravel Developer</td>
                        <td>kabita@genesesolution.com</td>
                        <!-- <td>September 13,2020</td> -->
                        <td><span class="badge badge-success">Final Interview</span></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Business Development Officer</td>
                        <td>bibek@genesesolution.com</td>
                        <!-- <td>December 25, 2020</td> -->
                        <td><span class="badge badge-info">Tech Interview</span></td>
                    </tr>
                </tbody>
            </table>
            <!-- <pagination class="justify-content-center" [(ngModel)]="currentPage" [boundaryLinks]="true" [directionLinks]="true"
      [totalItems]="totalOrgList" [itemsPerPage]="pageSize" [maxSize]="5" (pageChanged)="pageChanged($event)">
    </pagination> -->
        </div>
    </div>
</div>