<!-- navbar -->
<nav class="navbar navbar-icon-top navbar-expand-lg navbar-light bg-white">
    <!-- <a class="navbar-brand" href="#"><img src="assets/img/genese-logo.png" alt="genese-logo" width="85px"></a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-bell">
        <span class="badge badge-info">3</span>
      </i>
                </a>
            </li>
        </ul>
        <!-- <ul class="navbar-nav pr-2">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong>Kritika Poudel</strong>
                </a>
                <div class="dropdown-menu mb-3" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">My Profile</a>
                    <a class="dropdown-item" href="#">Applied Jobs</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
        </ul>
        <div class="user-area dropdown">
            <img class=" user-avatar" src="./assets/img/kritika.jpg" alt="User Avatar">
        </div> -->

    </div>
</nav>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="bg-white text-muted">
    <div class="col-md-12">
        <div class="py-3 d-flex justify-content-center align-items-center">
            © 2020 HR Job Portal. All rights reserved.
            <a class="mx-4" href="#">Terms & conditions</a>
            <a class="mr-4" href="https://www.genesesolution.com/privacy-policy/">Privacy policy</a>
        </div>
    </div>
</footer>