<div class="inner-content">
<aside class="inner-left-panel" id="inner-left-panel">
    <div class="sidenav pl-3">
      <div class="sidebar-image pl-4 pb-4 pt-2">
        <img src="../assets/img/logo.png" height="50px">
      </div>
      <div class="heading-description">
      <h4 class="text-white">Genese Software Solution</h4>
      <p class="heading-text text-white">We develop all types of cloud-based
        solutions providing safe, seamless 
        and rapid migration of your business
        applications to the cloud.</p>
        </div>
        <div class="footer">
        <a href="tel:9801902057 "><i class="fas fa-phone-alt mr-2"></i>+977 9801902057 </a>
        <a href="www.genesesolution.com"><i class="fas fa-location-arrow mr-2"></i>www.genesesolution.com</a>
        <a href="mailto:info@genesesolution.com"><i class="fas fa-globe mr-2"></i>info@genesesolution.com</a>
        </div>
        </div>
    <hr />
  </aside>
  <div class="inner-right-panel" id="inner-right-panel">
<div class="signup-section">
  <div class="section-header mt-3">
    <h4>Create your account</h4>
    <p class="text-muted mb-3">Register with basic information ,complete your profile and start applying for the job.</p>
  </div>
  <!-- <div class="form-row"> -->
    <div class="form-group col-lg-8">
      <label class="sr-only" for="inlineFormInputGroup">Full name</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fas fa-user-friends"></i></div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Full name">
      </div>
    </div>
    <div class="form-group col-lg-8">
        <label class="sr-only" for="inlineFormInputGroup">Select Preferred Job Category</label>
        <div class="input-group mb-2">
            <select class="form-control mb-2">
                <option>Select Prefferred Job Category</option>
                <option>WordPress Developer</option>
                <option>Frontend Developer</option>
              </select>
        </div>
      </div>
    <div class="form-group col-lg-8">
      <label class="sr-only" for="inlineFormInputGroup">Mobile Number</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fas fa-phone-alt"></i></div>
        </div>
        <input type="number" class="form-control" id="inlineFormInputGroup" placeholder="Mobile Number">
      </div>
    </div>
    <div class="form-group col-lg-8">
        <label class="sr-only" for="inlineFormInputGroup">Email Address</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-envelope"></i></div>
          </div>
          <input type="email" class="form-control" id="inlineFormInputGroup" placeholder="Email Address">
        </div>
      </div>
      <div class="form-group col-lg-8">
        <label class="sr-only" for="inlineFormInputGroup">Password</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-lock"></i></div>
          </div>
          <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="Password">
        </div>
      </div>
      <div class="form-group col-lg-8">
        <label class="sr-only" for="inlineFormInputGroup">Confirm Password</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-lock"></i></div>
          </div>
          <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="Confirm Password">
        </div>
      </div>
      <p class="ml-3 mt-3 mb-3">By clicking on`  Create new Account ' below you are agreeing to the terms and <br>privacy 
        of Genese Solution!</p>
        <div class="form-group col-lg-8">
            <label class="sr-only" for="inlineFormInputGroup">Confirm Password</label>
            <div class="input-group mb-2">
                <button class="btn btn-primary btn btn-block" type="submit">Create your Account</button>
            </div>
          </div>
      </div>
      </div>
