<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="../../assets/img/login.png" alt="login" class="login-card-img">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <div class="brand-wrapper mb-4">
                            <img src="./assets/img/genese-logo.png" alt="logo" class="logo mr-2 mb-2"> <span style="font-weight: 600; color: #135a70;">HR Job Portal</span>
                        </div>
                        <h4 class="mb-4">Create your account</h4>
                        <form action="#!">
                            <div class="form-group">
                                <label for="full-name" class="sr-only">Full Name</label>
                                <input type="text" name="full-name" id="full-name" class="form-control" placeholder="Full Name">
                            </div>
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" name="email" id="email" class="form-control" placeholder="Email Address">
                            </div>
                            <div class="form-group">
                                <label for="password" class="sr-only">Password</label>
                                <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                            </div>

                            <div class="form-group mb-4">
                                <label for="confirm-password" class="sr-only">Confirm Password</label>
                                <input type="password" name="confirm-password" id="confirm-password" class="form-control" placeholder="Confirm Password">
                            </div>
                            <a><input name="sign-up" id="sign-up" class="btn btn-primary login-btn mb-4" type="button" routerLink="/login" value="Sign Up"></a>
                        </form>
                        <p class="login-card-footer-text">Already have an account? <a routerLink="/login">Sign in here</a></p>
                        <nav class="login-card-footer-nav">
                            <a href="#" class="mr-3">Terms & conditions</a>
                            <a href="#">Privacy policy</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>