<section id="current-openings" class="current-openings py-5">
    <div class="container">

        <div class="section-title mb-5" data-aos="fade-up">
            <h2>Current Openings</h2>
            <p class="text-muted">Start building your career with us.</p>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="fa fa-dribbble" aria-hidden="true"></i></div>
                    <p class="text-muted post-date float-right">1 day ago</p>
                    <h4 class="title"><a href="">UI / UX Designer</a></h4>
                    <p class="description text-muted">The User Experience Designer position exists to create compelling and elegant digital user experiences through design..</p>
                    <span class="badge badge-pill badge-primary ">Full Time</span><span class="badge badge-pill badge-primary ">Min. 2 year</span><span class="badge badge-pill badge-primary ">Senior level</span>
                    <div class="mt-4"><a href="# " class="btn btn-primary ">Apply Now</a></div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0 ">
                <div class="icon-box " data-aos="fade-up " data-aos-delay="200 ">
                    <div class="icon "><i class="fa fa-wordpress " aria-hidden="true "></i></div>
                    <p class="text-muted post-date float-right">2 days ago</p>
                    <h4 class="title "><a href=" ">Wordpress Developer</a></h4>
                    <p class="description text-muted ">The User Experience Designer position exists to create compelling and elegant digital user experiences through design..</p>
                    <span class="badge badge-pill badge-primary ">Full Time</span><span class="badge badge-pill badge-primary ">Min. 1 year</span><span class="badge badge-pill badge-primary ">Mid level</span>
                    <div class="mt-4"><a href="# " class="btn btn-primary ">Apply Now</a></div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0 ">
                <div class="icon-box " data-aos="fade-up " data-aos-delay="300 ">
                    <div class="icon "><i class="fa fa-dribbble " aria-hidden="true "></i></div>
                    <p class="text-muted post-date float-right">1 week</p>
                    <h4 class="title "><a href=" ">UI / UX Designer</a></h4>
                    <p class="description text-muted ">The User Experience Designer position exists to create compelling and elegant digital user experiences through design..</p>
                    <span class="badge badge-pill badge-primary ">Full Time</span><span class="badge badge-pill badge-primary ">Min. 2 year</span><span class="badge badge-pill badge-primary ">Senior level</span>
                    <div class="mt-4"><a href="# " class="btn btn-primary ">Apply Now</a></div>
                </div>
            </div>
        </div>
    </div>
</section>