<div class="add-job mb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5">
                <h2 class="applicant-header  mb-4">Add job vacancy</h2>
                <p>Add details of your new job vacancy.</p>
            </div>
        </div>

        <div class="add-form">
            <form>
                <div class="form-group mb-4">
                    <label for="exampleFormControlInput1" style="font-weight: 500;">Job Category</label>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="IT & Telecommunication > Programmer/ Software Engineer, Web Developer/Web Designer">
                </div>

                <div class="form-group mb-4">
                    <label for="exampleFormControlInput1" style="font-weight: 500;">Job Level</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Mid Level">
                </div>

                <div class="form-group mb-4">
                    <label for="exampleFormControlInput1" style="font-weight: 500;">No. of Vacancy/s</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="[ 1 ]">
                </div>

                <div class="form-group mb-4">
                    <label for="exampleFormControlInput1" style="font-weight: 500;">Employment Type	</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Full Time">
                </div>

                <div class="form-group mb-4">
                    <label for="exampleFormControlInput1" style="font-weight: 500;">Job Location</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Jawalakhel Chowk, Lalitpur">
                </div>

                <div class="form-group mb-4">
                    <label for="exampleFormControlInput1" style="font-weight: 500;">Offered Salary</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="NRs. 25,000.00 - 35,000.00 Monthly">
                </div>

                <div class="form-group mb-4">
                    <label for="exampleFormControlInput1" style="font-weight: 500;">Apply Before(Deadline)</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Feb. 05, 2019 23:55 (1 year, 9 months ago)">
                </div>
            </form>
        </div>

        <button type="button" class="btn btn-sm btn-primary mr-3 mt-4 btn-1 mb-4" style="padding: 6px;">Add</button>
        <button type="button" class="btn btn-sm btn-brdr mt-4 mb-4 btn-1" style="border: 1px solid #135a70; color: #135a70; padding: 6px;">Cancel</button>
    </div>
</div>